<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>List of Posts</title>
  </head>
  <body>

    <form method="POST" action="/posts">
      <input type="text" placeholder="Today's Date" name="date">
      <input type="text" placeholder="Title" name="postTitle">
      <input type="text" placeholder="Author" name="author">
      <input type="text" placeholder="Write What you Feel" name="content">
      <input type="submit" value="Publish">
    </form>


        <ul>
          <% postsRendered.forEach(function(post) { %>
            <li> post date <%= post.date %> - post title <%=post.postTitle %> </li>
            <li>post author <%= post.author %> - post content <%= post.content %> </li>
          <%  }) %>
        </ul>

  </body>
</html>


<!--
  people is defined and passed
  for each index of people,
  there is an object in the array, which has two keys or properties,
  name and num, accessed by object.prop
</ul> -->
