<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Full Post View</title>
    <link rel=stylesheet href="../assets/style.css">
  </head>
  <body>


    <!-- <ul>
      <% people.forEach(function(person){ %>
        <li><%= person.name %> - <%= person.num %> </li>
      <% }) %>
    </ul>

      <% posts.forEach(function(post){ %>
        <li><% post.author %> - <%= post.date %> </li> })-->
    <!--------Sidebar----------->
  </body>
  </html>
